@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,700);
table.files-summary {
  width: 100%;
  margin: 10px 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
  text-align: right;
}

table.files-summary tbody tr:hover {
  background: #eee;
}

table.files-summary td:first-child,
table.files-summary td:nth-of-type(2) {
  text-align: left;
}

table.files-summary[data-use-coverage="false"] td.coverage {
  display: none;
}

table.files-summary thead {
  background: #fafafa;
}

table.files-summary td {
  border: solid 1px #ddd;
  padding: 4px 10px;
  vertical-align: top;
}

table.files-summary td.identifiers > span {
  display: block;
  margin-top: 4px;
}

table.files-summary td.identifiers > span:first-child {
  margin-top: 0;
}

table.files-summary .coverage-count {
  font-size: 12px;
  color: #aaa;
  display: inline-block;
  min-width: 40px;
}

.total-coverage-count {
  position: relative;
  bottom: 2px;
  font-size: 12px;
  color: #666;
  font-weight: 500;
  padding-left: 5px;
}

table.test-summary thead {
  background: #fafafa;
}

table.test-summary thead .test-description {
  width: 50%;
}

table.test-summary {
  width: 100%;
  margin: 10px 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

table.test-summary thead .test-count {
  width: 3em;
}

table.test-summary tbody tr:hover {
  background-color: #eee;
}

table.test-summary td {
  border: solid 1px #ddd;
  padding: 4px 10px;
  vertical-align: top;
}

table.test-summary td p {
  margin: 0;
}

table.test-summary tr.test-interface .toggle {
  display: inline-block;
  float: left;
  margin-right: 4px;
  cursor: pointer;
  font-size: 0.8em;
  padding-top: 0.25em;
}

table.test-summary tr.test-interface .toggle.opened:before {
  content: '▼';
}

table.test-summary tr.test-interface .toggle.closed:before {
  content: '▶';
}

table.test-summary .test-target > span {
  display: block;
  margin-top: 4px;
}

table.test-summary .test-target > span:first-child {
  margin-top: 0;
}

.identifiers-wrap {
  display: flex;
  align-items: flex-start;
}

.identifier-dir-tree {
  background: #fff;
  border: solid 1px #ddd;
  border-radius: 0.25em;
  top: 52px;
  position: -webkit-sticky;
  position: sticky;
  max-height: calc(100vh - 155px);
  min-width: 200px;
  margin-left: 1em;
}

.identifier-dir-tree-header {
  padding: 0.5em;
  background-color: #fafafa;
  border-bottom: solid 1px #ddd;
}

.identifier-dir-tree-content {
  padding: 0 0.5em 0;
}

.identifier-dir-tree-content > div {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.identifier-dir-tree-content a {
  color: inherit;
}

/* github markdown */
.github-markdown {
  font-size: 16px;
}

.github-markdown h1,
.github-markdown h2,
.github-markdown h3,
.github-markdown h4,
.github-markdown h5 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  padding: 0;
}

.github-markdown h1:nth-of-type(1) {
  margin-top: 0;
}

.github-markdown h1 {
  font-size: 2em;
  padding-bottom: 0.3em;
}

.github-markdown h2 {
  font-size: 1.75em;
  padding-bottom: 0.3em;
}

.github-markdown h3 {
  font-size: 1.5em;
}

.github-markdown h4 {
  font-size: 1.25em;
}

.github-markdown h5 {
  font-size: 1em;
}

.github-markdown ul, .github-markdown ol {
  padding-left: 2em;
}

.github-markdown pre > code {
  font-size: 0.85em;
}

.github-markdown table {
  margin-bottom: 1em;
  border-collapse: collapse;
  border-spacing: 0;
}

.github-markdown table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.github-markdown table th,
.github-markdown table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.github-markdown table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.github-markdown hr {
  border-right: 0;
  border-bottom: 1px solid #e5e5e5;
  border-left: 0;
  border-top: 0;
}

/** badge(.svg) does not have border */
.github-markdown img:not([src*=".svg"]) {
  max-width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* search box */
.search-box {
  position: absolute;
  top: 10px;
  right: 50px;
  padding-right: 8px;
  padding-bottom: 10px;
  line-height: normal;
  font-size: 12px;
}

.search-box img {
  width: 20px;
  vertical-align: top;
}

.search-input {
  display: inline;
  visibility: hidden;
  width: 0;
  padding: 2px;
  height: 1.5em;
  outline: none;
  background: transparent;
  border: 1px #0af;
  border-style: none none solid none;
  vertical-align: bottom;
}

.search-input-edge {
  display: none;
  width: 1px;
  height: 5px;
  background-color: #0af;
  vertical-align: bottom;
}

.search-result {
  position: absolute;
  display: none;
  height: 600px;
  width: 100%;
  padding: 0;
  margin-top: 5px;
  margin-left: 24px;
  background: white;
  box-shadow: 1px 1px 4px black;
  white-space: nowrap;
  overflow-y: scroll;
}

.search-result-import-path {
  color: #aaa;
  font-size: 12px;
}

.search-result li {
  list-style: none;
  padding: 2px 4px;
}

.search-result li a {
  display: block;
  color: #666;
}

.search-result li.selected {
  /*background: #ddd;*/
  background: #f6d249;
}

.search-result li.search-separator {
  background: #363843;
  color: white;
}

.search-box.active .search-input {
  visibility: visible;
  transition: width 0.2s ease-out;
  width: 300px;
}

.search-box.active .search-input-edge {
  display: inline-block;
}

#api-docs {
  /*.navigation {*/
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  /*box-sizing: border-box;*/
  /*width: 250px;*/
  /*height: 100%;*/
  /*padding-top: 40px;*/
  /*padding-left: 15px;*/
  /*padding-bottom: 2em;*/
  /*margin-top:1em;*/
  /*overflow-x: scroll;*/
  /*box-shadow: rgba(255, 255, 255, 1) -1px 0 0 inset;*/
  /*border-right: 1px solid #ddd;*/
  /*}*/
}

#api-docs nav.toc {
  font-size: 13px;
}

#api-docs nav.toc h2.module-name {
  border: none;
  margin-top: 0px;
}

#api-docs ul, #api-docs ol {
  padding-left: 20px;
}

#api-docs ul li {
  list-style: disc;
  margin: 4px 0;
}

#api-docs ol li {
  margin: 4px 0;
}

#api-docs h1 {
  margin-bottom: 10px;
  font-size: 34px;
  border-bottom: solid 1px #ddd;
}

#api-docs h2 {
  margin-top: 24px;
  margin-bottom: 10px;
  font-size: 20px;
  border-bottom: solid 1px #ddd;
}

#api-docs h3 {
  position: relative;
  font-size: 16px;
  margin-bottom: 12px;
  padding: 4px;
}

#api-docs h4 {
  font-size: 16px;
  padding: 4px;
}

#api-docs details {
  cursor: pointer;
}

#api-docs del {
  text-decoration: line-through;
}

#api-docs p {
  margin-bottom: 15px;
  line-height: 1.5;
}

#api-docs code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

#api-docs pre > code {
  display: block;
}

#api-docs pre > code {
  padding: 4px;
  margin: 1em 0;
  border-radius: 3px;
}

#api-docs p > code,
#api-docs li > code {
  padding: 0.2em 0.5em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

#api-docs .code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 13px;
}

#api-docs .import-path pre,
#api-docs .import-path pre code {
  margin: 0;
  padding: 0;
  border: none;
  background: white;
}

#api-docs .layout-container > header {
  display: flex;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding: 0 10px;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #363843;
  top: 0;
  border-bottom: solid 1px #ddd;
}

#api-docs .layout-container > header > a {
  margin: 0 5px;
  color: #ffffff;
}

#api-docs .layout-container > header > a.repo-url-github {
  font-size: 0;
  display: inline-block;
  width: 20px;
  height: 38px;
  background: url("../image/github.png") no-repeat center;
  background-size: 20px;
  vertical-align: top;
}

#api-docs .navigation .nav-dir-path {
  display: block;
  margin-top: 0.7em;
  margin-bottom: 0.25em;
  font-weight: 600;
}

#api-docs .kind-class,
#api-docs .kind-interface,
#api-docs .kind-function,
#api-docs .kind-typedef,
#api-docs .kind-variable,
#api-docs .kind-external {
  margin-left: 0.75em;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  text-align: center;
  border-radius: 0.2em;
  margin-right: 0.2em;
  font-weight: bold;
  line-height: 1.2em;
}

#api-docs .kind-class {
  color: #009800;
  background-color: #bfe5bf;
}

#api-docs .kind-interface {
  color: #fbca04;
  background-color: #fef2c0;
}

#api-docs .kind-function {
  color: #6b0090;
  background-color: #d6bdde;
}

#api-docs .kind-variable {
  color: #eb6420;
  background-color: #fad8c7;
}

#api-docs .kind-typedef {
  color: #db001e;
  background-color: #edbec3;
}

#api-docs .kind-external {
  color: #0738c3;
  background-color: #bbcbea;
}

#api-docs .summary span[class^="kind-"] {
  margin-left: 0;
}

#api-docs h1 .version,
#api-docs h1 .url a {
  font-size: 14px;
  color: #aaa;
}

#api-docs .header-notice {
  font-size: 14px;
  color: #aaa;
  margin: 0;
}

#api-docs .expression-extends pre {
  margin-left: 10px;
}

#api-docs .extends-chain {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#api-docs .extends-chain span:nth-of-type(1) {
  padding-left: 10px;
}

#api-docs .extends-chain > div {
  margin: 5px 0;
}

#api-docs .description table {
  font-size: 14px;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

#api-docs .description thead {
  background: #999;
  color: white;
}

#api-docs .description table td,
#api-docs .description table th {
  border: solid 1px #ddd;
  padding: 4px;
  font-weight: normal;
}

#api-docs .flat-list ul {
  padding-left: 0;
}

#api-docs .flat-list li {
  display: inline;
  list-style: none;
}

#api-docs table.summary {
  width: 100%;
  margin: 10px 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

#api-docs table.summary thead {
  background: #fafafa;
}

#api-docs table.summary td {
  border: solid 1px #ddd;
  padding: 4px 10px;
}

#api-docs table.summary tbody td:nth-child(1) {
  text-align: right;
  white-space: nowrap;
  min-width: 64px;
  vertical-align: top;
}

#api-docs table.summary tbody td:nth-child(2) {
  width: 100%;
  border-right: none;
}

#api-docs table.summary tbody td:nth-child(3) {
  white-space: nowrap;
  border-left: none;
  vertical-align: top;
}

#api-docs table.summary td > div:nth-of-type(2) {
  padding-top: 4px;
  padding-left: 15px;
}

#api-docs table.summary td p {
  margin-bottom: 0;
}

#api-docs .inherited-summary thead td {
  padding-left: 2px;
}

#api-docs .inherited-summary thead a {
  color: white;
}

#api-docs .inherited-summary .summary tbody {
  display: none;
}

#api-docs .inherited-summary .summary .toggle {
  padding: 0 4px;
  font-size: 12px;
  cursor: pointer;
}

#api-docs .inherited-summary .summary .toggle.closed:before {
  content: "▶";
}

#api-docs .inherited-summary .summary .toggle.opened:before {
  content: "▼";
}

#api-docs .member, #api-docs .method {
  margin-bottom: 24px;
}

#api-docs table.params {
  width: 100%;
  margin: 10px 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

#api-docs table.params thead {
  background: #eee;
  color: #aaa;
}

#api-docs table.params td {
  padding: 4px;
  border: solid 1px #ddd;
}

#api-docs table.params td p {
  margin: 0;
}

#api-docs .content .detail > * {
  margin: 15px 0;
}

#api-docs .content .detail > h3 {
  color: black;
  background-color: #f0f0f0;
}

#api-docs .content .detail > div {
  margin-left: 10px;
}

#api-docs .content .detail > .import-path {
  margin-top: -8px;
}

#api-docs .content .detail + .detail {
  margin-top: 30px;
}

#api-docs .content .detail .throw td:first-child {
  padding-right: 10px;
}

#api-docs .content .detail h4 + :not(pre) {
  padding-left: 0;
  margin-left: 10px;
}

#api-docs .content .detail h4 + ul li {
  list-style: none;
}

#api-docs .return-param * {
  display: inline;
}

#api-docs .argument-params {
  margin-bottom: 20px;
}

#api-docs .return-type {
  padding-right: 10px;
  font-weight: normal;
}

#api-docs .return-desc {
  margin-left: 10px;
  margin-top: 4px;
}

#api-docs .return-desc p {
  margin: 0;
}

#api-docs .deprecated, #api-docs .experimental, #api-docs .instance-docs {
  border-left: solid 5px orange;
  padding-left: 4px;
  margin: 4px 0;
}

#api-docs tr.listen p,
#api-docs tr.throw p,
#api-docs tr.emit p {
  margin-bottom: 10px;
}

#api-docs .version, #api-docs .since {
  color: #aaa;
}

#api-docs h3 .right-info {
  position: absolute;
  right: 4px;
  font-size: 14px;
}

#api-docs .version + .since:before {
  content: '| ';
}

#api-docs .see {
  margin-top: 10px;
}

#api-docs .see h4 {
  margin: 4px 0;
}

#api-docs .content .detail h4 + .example-doc {
  margin: 6px 0;
}

#api-docs .example-caption {
  position: relative;
  bottom: -1px;
  display: inline-block;
  padding: 4px;
  font-style: italic;
  background-color: #f5f5f5;
  font-weight: bold;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#api-docs .example-caption + pre.source-code {
  margin-top: 0;
  border-top-left-radius: 0;
}

#api-docs pre.source-code {
  padding: 4px;
}

#api-docs pre.raw-source-code > code {
  font-size: 12px;
  border: solid 1px #ddd;
  line-height: 1.5;
}

#api-docs pre.raw-source-code > code > ol {
  counter-reset: number;
  list-style: none;
  overflow: hidden;
}

#api-docs pre.raw-source-code > code > ol li:before {
  counter-increment: number;
  content: counter(number);
  display: inline-block;
  min-width: 3em;
  color: #aaa;
  text-align: right;
  padding-right: 1em;
}

#api-docs pre.source-code.line-number {
  padding: 0;
}

#api-docs pre.source-code ol {
  background: #eee;
  padding-left: 40px;
}

#api-docs pre.source-code li {
  background: white;
  padding-left: 4px;
  list-style: decimal;
  margin: 0;
}

#api-docs pre.source-code.line-number li.active {
  background: #ffff96 !important;
}

#api-docs pre.source-code.line-number li.error-line {
  background: #ffb8bf;
}

#api-docs .inner-link-active {
  /*background: rgb(255, 255, 150) !important;*/
  background: #039BE5 !important;
  color: #fff !important;
  padding-left: 0.1em !important;
}

#api-docs .inner-link-active a {
  color: inherit;
}

.web-nav a,
.web-nav a:hover,
.web-nav a:focus,
.web-nav a:active {
  border-bottom: none;
}

.web-nav .serenity-js-logo {
  display: block;
  padding-top: 6px;
}

.web-nav .serenity-js-logo .logo-accent {
  fill: #fdd20a;
}

.web-nav .serenity-js-logo .logo-base {
  fill: #454545;
}

@media (min-width: 992px) {
  .web-nav .serenity-js-logo .logo-base {
    fill: #fff;
  }
}

a.anchorjs-link,
a.anchorjs-link:hover {
  text-decoration: none;
}

#merits p {
  text-align: left;
}

#free-and-opensource ul {
  padding: 0;
  list-style-type: none;
}

#sidebar {
  padding: 0.75em 1.5em 2.25em;
}

@media screen and (max-width: 992px) {
  #sidebar {
    background-color: #f8f8f8;
    border-bottom: 1px solid #bdbadf;
  }
}

@media screen and (min-width: 992px) {
  #sidebar {
    border-right: 1px solid #bdbadf;
  }
  #sidebar::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -100vw;
    content: "";
    display: block;
    background: -webkit-gradient(linear, left top, right top, from(#e5e5e5), to(#f8f8f8));
    background: -webkit-linear-gradient(left, #e5e5e5, #f8f8f8);
    background: -o-linear-gradient(left, #e5e5e5, #f8f8f8);
    background: linear-gradient(to right, #e5e5e5, #f8f8f8);
    background-color: #efefef;
    z-index: -1;
  }
}

#sidebar ul {
  padding: 0;
}

#sidebar ul ul {
  padding-left: 0.75em;
}

#sidebar li {
  list-style: none;
  margin: 4px 0;
  white-space: nowrap;
}

#sidebar a {
  color: #232323;
  border: none;
}

#sidebar a.active {
  color: #000;
  font-weight: bold;
}

.content {
  padding: 1.5em;
}

#sidebar nav.toc ul.summary {
  margin: 0;
  list-style: none;
  padding: 0;
}

#sidebar nav.toc ul.summary li.header {
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: bold;
  color: #353843;
  padding: 20px 0 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

#sidebar nav.toc ul.summary li.header a {
  font-size: 1.1rem;
  color: #353843;
}

#sidebar nav.toc ul.summary li.chapter a, #sidebar nav.toc ul.summary li.article a {
  font-size: 1.0rem;
  display: block;
  padding: 6px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#sidebar nav.toc ul.articles {
  margin-left: 10px;
}

ul.supporters {
  list-style-type: none;
  padding: 0;
}

ul.supporters li {
  margin: 0.25em;
  display: inline-block;
  vertical-align: top;
  float: left;
}

article.content h1 {
  margin-bottom: 1rem;
}

article.content h2 {
  margin: 2rem 0 0.5rem 0;
}

article.content h3 {
  margin: 2rem 0 0.5rem 0;
}

article.content figure {
  margin: 2em 0;
}

article.content figure img {
  width: 90%;
  margin: 0 5% 2em 5%;
  box-shadow: none !important;
}

article.content figure iframe {
  margin-bottom: 1em;
}

article.content figure figcaption span {
  border-top: 1px solid #666;
  padding-top: 0.5em;
  color: #666;
}

#changelog .content h2 {
  font-size: 1.5em;
}

#changelog .content h3 {
  font-size: 1em;
}

#changelog .content p, #changelog .content ul {
  margin-bottom: 1.5em;
}

#handbook .article-tools {
  text-align: right;
}

#handbook .article-tools a, #handbook .article-tools a:hover {
  text-decoration: none;
}

#handbook .content p, #handbook .content li {
  letter-spacing: 0.2px;
  line-height: 175%;
  text-rendering: optimizeLegibility;
}

#handbook .content li {
  margin-bottom: 0.5em;
}

#handbook code {
  margin: 1em auto;
}

#handbook article footer {
  clear: both;
  margin: 4em 0 0;
  border-top: 1px solid #e3e3e3;
  text-align: center;
  color: #999;
  line-height: 1.2em;
  padding-top: 2em;
  position: relative;
  overflow: auto;
}

#handbook article footer a {
  display: inline-block;
  width: 50%;
}

#handbook article footer a.previous {
  text-align: left;
  float: left;
}

#handbook article footer a.next {
  text-align: right;
  float: right;
}

article.content section a:not(.anchorjs-link),
article.content section a:not(.anchorjs-link):visited {
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
  -webkit-box-shadow: inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 rgba(252, 210, 62, 0.75);
  -moz-box-shadow: inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 rgba(252, 210, 62, 0.75);
  box-shadow: inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 rgba(252, 210, 62, 0.75);
  -webkit-transition: box-shadow .5s, color .5s;
  -moz-transition: box-shadow .5s, color .5s;
  -ms-transition: box-shadow .5s, color .5s;
  -o-transition: box-shadow .5s, color .5s;
  color: #3b3c3e;
  text-decoration: none;
  padding-bottom: 3px;
}

article.content section a:not(.anchorjs-link):hover,
article.content section a:not(.anchorjs-link):visited:hover {
  -webkit-box-shadow: inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 #ffad33;
  -moz-box-shadow: inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 #ffad33;
  box-shadow: inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 #ffad33;
  -webkit-transition: box-shadow .2s, color .2s;
  -moz-transition: box-shadow .2s, color .2s;
  -ms-transition: box-shadow .2s, color .2s;
  -o-transition: box-shadow .2s, color .2s;
  color: #000;
  text-decoration: none;
}

blockquote {
  font-size: 1.2em;
  width: 90%;
  margin: 2em auto;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #fcd23e;
  line-height: 1.6;
  position: relative;
  background: #F8F8F8;
}

blockquote::before {
  content: "\201C";
  color: #3e4152;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: '';
}

.pro-tip {
  border: 1px solid #bdbadf;
  border-radius: 5px;
  background-color: #F8F8F8;
  padding: 1em 1em 0 0;
  margin: 2em 0;
}

.pro-tip .icon {
  display: table-cell;
  vertical-align: middle;
  padding: 0 1em;
}

.pro-tip .icon i {
  float: left;
  display: block;
  text-align: center;
  margin-top: -0.5em;
}

.pro-tip .text {
  display: table-cell;
  vertical-align: center;
}

#footer li {
  margin-bottom: 0.5em;
}
