# IntelliJ
.idea
*.iml

# NX
.nx/cache
.nx/workspace-data

# Serenity BDD
*.jar

# OS
.DS_Store

# Legacy browsers for testing Protractor integration
browsers

# Node
node_modules
examples/*/package-lock.json
integration/*/package-lock.json
packages/*/package-lock.json

# Build Artifacts
documentation/*/target/
integration/*/target/
integration-web/*/target/
packages/*/target/
packages/*/lib/
/target/
*.log
/out/

tsconfig.tsbuildinfo
