# IntelliJ
.idea
*.iml

# Node
node_modules
*.log
.npmignore
.nyc_output

# Build process
staging
mocha.opts

# Pre-transpiled sources and specs
cookbook
examples
spec

target
*.json

# Runtime caches
.cache

# Documentation
docs
_book
book