link-workspace-packages = deep
hoist-workspace-packages = true
disallow-workspace-cycles = true

; Cucumber dependencies
hoist-pattern[]=!@types/cucumber
hoist-pattern[]=!@cucumber/*
hoist-pattern[]=!cucumber
hoist-pattern[]=!gherkin

hoist-pattern[]=!@types/jasmine
hoist-pattern[]=!jasmine
hoist-pattern[]=!webdriverio
hoist-pattern[]=!@wdio/*
hoist-pattern[]=!protractor
hoist-pattern[]=!selenium-webdriver
