---
title: Serenity/JS
layout: error.hbs
---
<h2 class="mb-4">Page not found <span class="text-soft">(Error 404)</span></h2>

<h4>What's going on?</h4>
<p>
    The page or resource you requested can not be found on the server. This can be
    caused by a mistyped URL, a broken link or if the webmaster
    has moved or deleted the resource.
</p>

<h4>What to do now:</h4>

<ul>
    <li>If you've typed in the URL manually, make sure you've spelled it correctly</li>
    <li>
        If you think this is a mistake, <a href="https://github.com/jan-molak/serenity-js/issues">
        please raise a ticket on GitHub.</a>
    </li>

</ul>

<script type="text/javascript">
    var baseUrl = 'http://serenity-js.org';
    var pageFound = {
        '/introduction.html': '/handbook/demo.html',
        // '/changelog.html': '',
        '/from-scripts-to-serenity/readme.html': '/handbook/thinking-in-serenity-js/',
        '/from-scripts-to-serenity/speaking-the-right-language.html': '/handbook/thinking-in-serenity-js/the-trouble-with-test-scripts.html',
        '/from-scripts-to-serenity/writing-what-you-would-like-to-read.html': '/handbook/thinking-in-serenity-js/screenplay-pattern.html',
        '/from-scripts-to-serenity/making-the-tests-speak-for-themselves.html': '/handbook/integration/reporting.html',
        '/overview/readme.html': '/handbook/integration/',
        '/overview/reporting.html': '/handbook/integration/reporting.html',
        '/overview/prerequisites.html': '/handbook/integration/runtime-dependencies.html',
        '/overview/retrofitting.html': '/handbook/integration/serenityjs-and-protractor.html',
        '/overview/installation.html': '/handbook/integration/installation.html',
        '/overview/configuration.html': '/handbook/integration/configuration.html',
        '/cucumber/readme.html': '/handbook/integration/serenityjs-and-cucumber.html',
        '/cucumber/overview.html': '/handbook/integration/serenityjs-and-cucumber.html',
        '/cucumber/automation.html': '/handbook/integration/serenityjs-and-cucumber.html',
        '/cucumber/execution.html': '/handbook/integration/serenityjs-and-cucumber.html',
        '/mocha/readme.html': '/handbook/integration/index.html',
        '/mocha/overview.html': '/handbook/integration/index.html',
        '/mocha/automation.html': '/handbook/integration/index.html',
        '/mocha/execution.html': '/handbook/integration/index.html',
        '/design/readme.html': '/handbook/design/',
        '/design/screenplay-pattern.html': '/handbook/design/screenplay-pattern.html',
        '/handbook/thinking-in-serenity-js/screenplay-pattern.html': '/handbook/design/screenplay-pattern.html',
        '/handbook/thinking-in-serenity-js/the-trouble-with-test-scripts.html': '/handbook/design/the-trouble-with-test-scripts.html',
        '/design/stage.html': '/handbook/design/',
        '/design/assertions.html': '/handbook/design/assertions.html',
        '/community.html': '/handbook/community/',
        // '/support.html': '',
        // '/license.html': '',
    }[window.location.pathname];

    if (pageFound) {
        window.location.href = baseUrl + pageFound;
    }
</script>
