---
title: Serenity/JS
layout: homepage.hbs
---
<section id="merits" class="merits merits-light text-center block-bb">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-6 merits-item">
                <i class="merits-icon fas fa-layer-group"></i>

                <h5>Full-stack</h5>
                <p>
                    Serenity/JS comes with
                    <strong><a href="/modules">over 60 building blocks</a></strong>
                    to help you create high-quality automated acceptance tests
                    interacting with <strong>Web apps</strong>, <strong>REST APIs</strong>, and more.
                </p>
                <p>
                    Serenity/JS is easy to extend, so there are no limits to what you can test!
                </p>
            </div>
            <div class="col-xl-3 col-lg-6 merits-item">
                <i class="merits-icon fas fa-users"></i>

                <h5>Business-focused</h5>
                <p>
                    The Serenity/JS <strong>Screenplay Pattern</strong> enables you
                    to quickly <strong>adapt</strong> and <strong>create</strong>
                    user-centred acceptance tests that capture the language
                    of <strong>your domain</strong> and <strong>your business</strong>.
                </p>
                <p>
                    Serenity/JS particularly shines in domains that involve complex business processes and workflows.
                </p>
            </div>
            <hr />
            <div class="col-xl-3 col-lg-6 merits-item">
                <i class="merits-icon fas fa-tachometer-alt"></i>

                <h5>Scalable</h5>
                <p>
                    Create <strong>high-quality</strong>, <strong>easy-to-reuse</strong> and <strong>cheap-to-maintain</strong>
                    test code and <strong>share</strong> it across projects and teams.
                </p>
                <p>
                    Make your tests easy for others to <strong>understand</strong> and <strong>contribute</strong>,
                    even if they're new to test automation!
                </p>
            </div>
            <div class="col-xl-3 col-lg-6 merits-item">
                <i class="merits-icon fas fa-chart-line"></i>

                <h5>Comprehensive</h5>
                <p>
                    Serenity/JS supercharges
                    <strong>Jasmine</strong>,
                    <strong>Cucumber</strong>,
                    and <strong>Protractor</strong>
                    with capabilities to produce
                    <strong>in-depth reports</strong>
                    and <strong>living documentation</strong>
                    that make failure analysis
                    and release readiness assessment much more efficient.
                </p>
                <p>
                    Modernise your existing projects today!
                </p>
            </div>
        </div>
    </div>
</section>

<section id="features-1" class="block py-8 block-bb">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img class="img-fluid"
                     src="images/screenplay-pattern-sample.png"
                     alt="Capture your business language">
            </div>
            <div class="col-md-5 pl-md-4 mt-4 mt-md-0">
                <h2 class="font-weight-bold">Next generation testing</h2>

                <p>
                    Break the chains of spaghetti test scripts and UI-only-based automation!
                </p>
                <p>
                    Design executable specifications that capture the <strong>business language</strong> of your domain,
                    <strong>focus on actors</strong> interacting with your system,
                    and <strong>verify all its interfaces</strong>.
                </p>
                <p>
                    Serenity/JS and the <strong>Screenplay Pattern</strong> make it easy for you to introduce and follow <strong>SOLID design principles</strong>
                    in your code base and help your team adopt ideas from <strong>Behaviour-Driven Development</strong> and <strong>Domain-Driven Design</strong>.
                </p>
                <p>
                    <a href="/handbook">Get started today!</a>
                </p>

            </div>
        </div>
    </div>
</section>
<section id="features-2" class="block py-8 block-bb">
    <div class="container">
        <div class="row">
            <div class="col-md-5 pl-md-4 mt-4 mt-md-0">
                <h2 class="font-weight-bold">Comprehensive reporting</h2>
                <p>
                    Building on the shoulders of <a href="http://serenity-bdd.info/" target="_blank">Serenity BDD</a>
                    and years of research into patterns of scalable acceptance testing and effective communication,
                    <strong>Serenity/JS</strong> provides <strong>the most comprehensive reporting capabilities</strong>
                    of all the functional testing libraries based on the Node.js platform.
                </p>
                <p>
                    The <strong>illustrated</strong>, <strong>narrative HTML reports</strong> combine the information gathered during test execution
                    and from your <strong>Cucumber</strong> and <strong>Jasmine</strong> test scenarios to describe what your application does and how it works,
                    using a language that's easy to understand to both the technical and non-technical audience.
                </p>
                <p>
                    What's more important, however, is that Serenity/JS gives you visibility of the <strong>release readiness</strong> of your application.
                    It can tell you not only <strong>what scenarios</strong> have been executed, but also <strong>what features</strong> and <strong>what requirements</strong>
                    have been tested, and to what extent.
                </p>
                <p>
                    When a test fails, Serenity/JS will also <strong>show you the failure in the context of the capability and feature affected</strong>,
                    so that failure analysis and business impact assessment become much more efficient.
                </p>
                <p>
                    <a href="/handbook">Learn more about Serenity/JS!</a>
                </p>
            </div>
            <div class="col-md-7">
                <img class="img-fluid"
                     src="images/reports.png"
                alt="Comprehensive reporting">
            </div>
        </div>
    </div>
</section>
<section id="free-and-opensource" class="block py-8 block-bb">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img class="img-fluid"
                     src="images/octocat.png"
                     alt="Free and open source">
            </div>
            <div class="col-md-5 pl-md-4 mt-4 mt-md-0">
                <h2 class="font-weight-bold">Free and open source</h2>

                <p>
                    Serenity/JS is a <strong>free</strong> and <strong>open source</strong> framework hosted on Github,
                    where you can <strong><a href="/contributing.html">suggest features and improvements</a></strong>,
                    find <strong><a href="https://github.com/serenity-js/" target="_blank">template repositories</a></strong> to help you get started,
                    and <strong><a href="/support.html">support the project</a></strong>.
                </p>
                <p>
                    If you found Serenity/JS useful - don't forget to <strong>give it a star</strong> and <strong>sponsor</strong> its continuous evolution! ★
                </p>
                <p>
                    <a class="github-button" href="https://github.com/sponsors/jan-molak" data-icon="octicon-heart" data-size="large" aria-label="Sponsor @jan-molak on GitHub">Sponsor</a>
                    <a class="github-button" href="https://github.com/jan-molak/serenity-js" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star jan-molak/serenity-js on GitHub">Star</a>
                </p>
                <p>
                    To stay up to date with the project news, follow <a href="https://twitter.com/JanMolak" target="_blank">@JanMolak on twitter</a> and join the
                    <a href="https://gitter.im/serenity-js/Lobby" target="_blank">Serenity/JS gitter chat</a>.
                </p>
                <ul>
                    <li><a href="https://gitter.im/serenity-js/Lobby"><img src="https://badges.gitter.im/serenity-js/Lobby.svg" alt="Chat on Gitter" /></a></li>
                    <li><a href="https://badge.fury.io/js/%40serenity-js%2Fcore"><img src="https://badge.fury.io/js/%40serenity-js%2Fcore.svg" alt="NPM Version"></a></li>
                    <li><a href="https://npm-stat.com/charts.html?package=@serenity-js/core"><img src="https://img.shields.io/npm/dm/@serenity-js/core.svg" alt="Downloads" /></a></li>
                    <li><a href="https://travis-ci.org/jan-molak/serenity-js"><img src="https://travis-ci.org/jan-molak/serenity-js.svg?branch=master" alt="Build Status"></a></li>
                    <li><a href="https://coveralls.io/github/jan-molak/serenity-js?branch=master"><img src="https://coveralls.io/repos/github/jan-molak/serenity-js/badge.svg?branch=master" alt="Coverage Status" /></a></li>
                    <li><a href="https://snyk.io/test/github/jan-molak/serenity-js"><img src="https://snyk.io/test/github/jan-molak/serenity-js/badge.svg" alt="Known Vulnerabilities" /></a></li>
                    <li><a href="https://github.com/jan-molak/serenity-js"><img src="https://flat.badgen.net/dependabot/jan-molak/serenity-js?icon=dependabot" alt="Dependencies" /></a></li>
                    <li><a href="https://github.com/serenity-js/serenity-js"><img src="https://img.shields.io/badge/github-serenity--js-yellow?logo=github" alt="Serenity/JS on Github" /></a></li>
                    <li><a href="https://stackoverflow.com/questions/tagged/serenity-js"><img src="https://img.shields.io/badge/stackoverflow-serenity--js-important?logo=stackoverflow" alt="Serenity/JS on StackOverflow" /></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
