---
title: Serenity/JS
layout: homepage.hbs
---

<section id="merits" class="merits merits-light text-center block-bb">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-6 merits-item">
                <i class="merits-icon fa fa-cubes"></i>

                <h5>Modular</h5>
                <p>
                    Serenity/JS comes with
                    <strong><a href="/modules">over 60 building blocks</a></strong>
                    to help you create high-quality automated acceptance tests
                    interacting with <strong>Web apps</strong>, <strong>REST APIs</strong>, and more.
                </p>
                <p>
                    Serenity/JS is easy to extend, so there are no limits to what you can test!
                </p>
            </div>
            <div class="col-xl-3 col-lg-6 merits-item">
                <i class="merits-icon fa fa-chart-line"></i>

                <h5>Thorough</h5>
                <p>
                    Serenity/JS supercharges
                    <strong>Jasmine</strong>,
                    <strong>Cucumber</strong>,
                    and <strong>Protractor</strong>
                    with capabilities to produce
                    <strong>in-depth reports</strong>
                    and <strong>living documentation</strong>
                    that make failure analysis
                    and release readiness assessment much more efficient.
                </p>
                <p>
                    Modernise your existing projects today!
                </p>
            </div>
            <div class="col-xl-3 col-lg-6 merits-item">
                <i class="merits-icon fa fa-users"></i>

                <h5>Scalable</h5>
                <p>
                    The <strong>Screenplay Pattern</strong> enables you
                    to quickly <strong>create</strong> and <strong>adapt</strong>
                    your acceptance tests and
                    <strong>scale</strong> them to
                    <strong>multiple projects</strong> and <strong>teams</strong>.
                </p>
                <p>
                    Make your tests easy for others to contribute,
                    even if they're new to test automation!
                </p>
            </div>
            <div class="col-xl-3 col-lg-6 merits-item">
                <i class="merits-icon fa fa-lightbulb"></i>

                <h5>Intuitive</h5>
                <p>
                    Serenity/JS APIs are intuitive by design.
                </p>
                <p>
                    Read <strong><a href="/handbook">the Handbook</a></strong>
                    to get started with the framework and check out the
                    <strong><a href="/modules">API docs</a></strong>
                    to unleash its full potential.
                </p>
                <p>
                    Enjoy testing!
                </p>
            </div>
        </div>
    </div>
</section>

<!--
<section id="features" class="block py-8 block-bb">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img class="img-fluid"
                     src="assets/images/featured/charming-feature-elegant.jpg"
                     alt="An elegant feature">
            </div>
            <div class="col-md-5 pl-md-4 mt-4 mt-md-0">
                <h2 class="font-weight-bold">Living documentation</h2>
                <p>
                    You'll see at a glance not only what tests have been executed,
                    but more importantly, what requirements have been tested.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="features" class="block py-8 block-bb">
    <div class="container">
        <div class="row">
            <div class="col-md-5 pl-md-4 mt-4 mt-md-0">
                <h2 class="font-weight-bold">Screenplay pattern</h2>
                <p>
                    The <strong>expressive nature</strong> of <strong>user-centred</strong> Serenity/JS
                    test scenarios will help you capture the business language and
                    make the adoption of Behaviour-Driven Development
                    and Domain-Driven Design easier.
                </p>
            </div>
            <div class="col-md-7">
                <img class="img-fluid"
                     src="assets/images/featured/charming-feature-elegant.jpg"
                     alt="An elegant feature">
            </div>
        </div>
    </div>
</section>
-->
