---
title: Serenity/JS
layout: homepage.hbs
---
<section id="merits" class="merits merits-light text-center block-bb">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-6 merits-item">
                <i class="merits-icon fas fa-layer-group"></i>

                <h5>Full-stack</h5>
                <p>
                    Serenity/JS comes with
                    <strong><a href="/modules">over 100 building blocks</a></strong>
                    to help you create high-quality automated acceptance tests
                    interacting with <strong><a href="/modules/protractor">Web apps</a></strong>, <strong><a href="/modules/rest">REST APIs</a></strong>, and more.
                </p>
                <p>
                    Serenity/JS is easy to extend, so there are <strong>no limits to what you can test</strong>!
                </p>
            </div>
            <div class="col-xl-3 col-lg-6 merits-item">
                <i class="merits-icon fas fa-users"></i>

                <h5>Business-focused</h5>
                <p>
                    The Serenity/JS <strong><a href="/handbook/design/screenplay-pattern.html">Screenplay Pattern</a></strong>
                    enables you to quickly <strong>adapt</strong>
                    and <strong>create</strong>
                    user-centred acceptance tests that capture the language
                    of <strong>your domain</strong> and <strong>your business</strong>.
                </p>
                <p>
                    Serenity/JS particularly shines in domains that involve complex business processes and workflows.
                </p>
            </div>
            <hr />
            <div class="col-xl-3 col-lg-6 merits-item">
                <i class="merits-icon fas fa-tachometer-alt"></i>

                <h5>Scalable</h5>
                <p>
                    Create <strong>high-quality</strong>, <strong>easy-to-reuse</strong> and <strong>cheap-to-maintain</strong>
                    test code and <strong>share</strong> it across projects and teams.
                </p>
                <p>
                    Make your tests easy for others to <strong>understand</strong> and <strong>contribute</strong>,
                    even if they're new to test automation!
                </p>
            </div>
            <div class="col-xl-3 col-lg-6 merits-item">
                <i class="merits-icon fas fa-chart-line"></i>

                <h5>Comprehensive</h5>
                <p>
                    Serenity/JS supercharges
                    <strong><a href="/handbook/integration/serenityjs-and-jasmine.html">Jasmine</a></strong>,
                    <strong><a href="/handbook/integration/serenityjs-and-mocha.html">Mocha</a></strong>,
                    <strong><a href="/handbook/integration/serenityjs-and-cucumber.html">Cucumber</a></strong>,
                    <strong><a href="/handbook/integration/serenityjs-and-protractor.html">Protractor</a></strong>,
                    and <strong><a href="/modules/webdriverio/">WebdriverIO</a></strong>
                    with capabilities to produce
                    <strong><a href="/handbook/reporting/index.html">in-depth reports</a></strong>
                    and <strong><a href="/handbook/reporting/serenity-bdd-reporter.html">living documentation</a></strong>
                    that make failure analysis
                    and release readiness assessment much more efficient.
                </p>
                <p>
                    Modernise your existing projects today!
                </p>
            </div>
        </div>
    </div>
</section>

<section id="features-1" class="block py-8 block-bb">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img class="img-fluid"
                     src="images/screenplay-pattern-sample.png"
                     alt="Capture your business language">
            </div>
            <div class="col-md-5 pl-md-4 mt-4 mt-md-0">
                <h2 class="font-weight-bold">Next generation testing</h2>

                <p>
                    Break the chains of spaghetti test scripts and UI-only-based automation!
                </p>
                <p>
                    Design executable specifications that capture the <strong>business language</strong> of your domain,
                    <strong>focus on actors</strong> interacting with your system,
                    and <strong>verify all its interfaces</strong>.
                </p>
                <p>
                    Serenity/JS and the <strong>Screenplay Pattern</strong> make it easy for you to introduce and follow <strong>SOLID design principles</strong>
                    in your code base and help your team adopt ideas from <strong>Behaviour-Driven Development</strong> and <strong>Domain-Driven Design</strong>.
                </p>
                <p>
                    <a href="/handbook">Get started today!</a>
                </p>

            </div>
        </div>
    </div>
</section>
<section id="features-2" class="block py-8 block-bb">
    <div class="container">
        <div class="row">
            <div class="col-md-5 pl-md-4 mt-4 mt-md-0">
                <h2 class="font-weight-bold">Comprehensive reporting</h2>
                <p>
                    Building on the shoulders of <a href="http://serenity-bdd.info/" target="_blank">Serenity BDD</a>
                    and years of research into patterns of scalable acceptance testing and effective communication,
                    <strong>Serenity/JS</strong> provides <strong><a href="/handbook/reporting/serenity-bdd-reporter.html">the most comprehensive reporting capabilities</a></strong>
                    of all the functional testing frameworks based on the Node.js platform.
                </p>
                <p>
                    The <a href="/handbook/reporting/serenity-bdd-reporter.html"><strong>illustrated</strong>, <strong>narrative HTML reports</strong></a> combine the information gathered during test execution
                    and from your
                    <strong><a href="/handbook/integration/serenityjs-and-cucumber.html">Cucumber</a></strong>,
                    <strong><a href="/handbook/integration/serenityjs-and-mocha.html">Mocha</a></strong>,
                    or <strong><a href="/handbook/integration/serenityjs-and-jasmine.html">Jasmine</a></strong>
                    test scenarios to describe what your application does and how it works,
                    using a language that's easy to understand to both the technical and non-technical audience.
                </p>
                <p>
                    What's more important, however, is that Serenity/JS gives you visibility of the <strong>release readiness</strong> of your application.
                    It can tell you not only <strong>what scenarios</strong> have been executed, but also <strong>what features</strong> and <strong>what requirements</strong>
                    have been tested, and to what extent.
                </p>
                <p>
                    When a test fails, Serenity/JS will also <strong>show you the failure in the context of the capability and feature affected</strong>,
                    so that failure analysis and business impact assessment become much more efficient.
                </p>
                <p>
                    <a href="/handbook">Learn more about Serenity/JS!</a>
                </p>
            </div>
            <div class="col-md-7">
                <img class="img-fluid"
                     src="images/reports.png"
                alt="Comprehensive reporting">
            </div>
        </div>
    </div>
</section>
<section id="free-and-opensource" class="block py-8 block-bb">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img class="img-fluid"
                     src="images/octocat.png"
                     alt="Free and open source">
            </div>
            <div class="col-md-5 pl-md-4 mt-4 mt-md-0">
                <h2 class="font-weight-bold">Free and open source</h2>

                <p>
                    Serenity/JS is a <strong>free</strong> and <strong>open source</strong> framework hosted on GitHub,
                    where you can <strong><a href="/contributing.html">suggest features and improvements</a></strong>,
                    find <strong><a href="https://github.com/serenity-js/" target="_blank">template repositories</a></strong> to help you get started,
                    and <strong><a href="/support.html">support the project</a></strong>.
                </p>
                <p>
                    If you found Serenity/JS useful - don't forget to <strong>give it a star</strong> and <strong>sponsor</strong> its continuous evolution! ★
                </p>
                <p>
                    <a class="github-button" href="https://github.com/sponsors/serenity-js" data-icon="octicon-heart" data-size="large" aria-label="Sponsor Serenity/JS on GitHub">Sponsor</a>
                    <a class="github-button" href="https://github.com/serenity-js/serenity-js" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star jan-molak/serenity-js on GitHub">Star</a>
                </p>
                <p>
                    To stay up to date with the project news,
                    follow <code><a href="https://twitter.com/SerenityJS" target="_blank">@SerenityJS</a></code>
                    and <code><a href="https://twitter.com/JanMolak" target="_blank">@JanMolak</a></code> on Twitter</a>
                    and join our <a href="https://gitter.im/serenity-js/Lobby" target="_blank">Serenity/JS Gitter chat channel</a>.
                </p>
                <p>
                    <a href="https://twitter.com/@SerenityJS"><img src="https://img.shields.io/twitter/follow/SerenityJS?style=social" alt="Follow @Serenity/JS on Twitter" /></a>
                    <a href="https://twitter.com/@JanMolak"><img src="https://img.shields.io/twitter/follow/JanMolak?style=social" alt="Follow @JanMolak on Twitter"></a>
                </p>
                <ul class="badges">
                    <li>
                        <a href="https://badge.fury.io/js/%40serenity-js%2Fcore"><img src="https://badge.fury.io/js/%40serenity-js%2Fcore.svg" alt="NPM Version"></a>
                        <a href="https://npm-stat.com/charts.html?package=@serenity-js/core"><img src="https://img.shields.io/npm/dm/@serenity-js/core.svg" alt="Downloads" /></a>
                        <a href="/handbook/integration/versioning.html"><img src="https://img.shields.io/badge/%20%20%F0%9F%93%A6%F0%9F%9A%80-semantic--release-e10079.svg" alt="Semantic versioning and release" /></a>
                    </li>

                    <li>
                        <a href="https://github.com/serenity-js/serenity-js/actions"><img src="https://github.com/serenity-js/serenity-js/workflows/Release%20Pipeline/badge.svg" alt="Build Status"></a>
                        <a href="https://snyk.io/test/github/serenity-js/serenity-js"><img src="https://snyk.io/test/github/serenity-js/serenity-js/badge.svg" alt="Known Vulnerabilities"></a>
                        <a href="https://github.com/serenity-js/serenity-js"><img src="https://badgen.net/github/dependabot/serenity-js/serenity-js" alt="Dependabot"></a>
                    </li>
                    <li>
                        <a href="https://app.fossa.com/projects/git%2Bgithub.com%2Fserenity-js%2Fserenity-js?ref=badge_shield"><img src="https://app.fossa.com/api/projects/git%2Bgithub.com%2Fserenity-js%2Fserenity-js.svg?type=shield" alt="FOSSA License Scanning" /></a>
                        <a href="https://coveralls.io/github/serenity-js/serenity-js?branch=master"><img src="https://coveralls.io/repos/github/serenity-js/serenity-js/badge.svg?branch=master" alt="Coverage Status" /></a>
                        <a href="https://www.codefactor.io/repository/github/serenity-js/serenity-js"><img src="https://www.codefactor.io/repository/github/serenity-js/serenity-js/badge" alt="CodeFactor" /></a
                    </li>
                    <li>
                        <a href="https://github.com/serenity-js/serenity-js"><img src="https://img.shields.io/badge/github-serenity--js-yellow?logo=github" alt="Serenity/JS on GitHub" /></a>
                        <a href="https://stackoverflow.com/questions/tagged/serenity-js"><img src="https://img.shields.io/badge/stackoverflow-serenity--js-important?logo=stackoverflow" alt="Serenity/JS on StackOverflow" /></a>
                        <a href="https://gitter.im/serenity-js/Lobby"><img src="https://badges.gitter.im/serenity-js/Lobby.svg" alt="Chat on Gitter" /></a>
                    </li>
                    <li>
                        <a href="https://openbase.io/js/@serenity-js/core?utm_source=embedded&utm_medium=badge&utm_campaign=rate-badge"><img src="https://badges.openbase.io/js/rating/@serenity-js/core.svg" alt="Openbase Rating" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
