@import "api-docs/style.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all";
@import "../../node_modules/prismjs/themes/prism";
@import "../../node_modules/prism-themes/themes/prism-material-oceanic";

$accent-1: #fdd20a !default;
$accent-2: #454545 !default;
//$primary: #2284fe !default;
//$secondary: #78baf8 !default;
//$success: $accent-1 !default;
//$info: #5a7ec5 !default;
//$warning: #f0a249 !default;
//$danger: #fc2344 !default;
//$light: #e5e5e5 !default;
//$dark: #3b3b3b !default;
$serenity-gold: rgb(253,211,10);
$serenity-purple: rgb(57, 59, 73);

.web-nav {
  a,
  a:hover,
  a:focus,
  a:active {
    border-bottom: none;
  }

  .serenity-js-logo {
    display: block;
    padding-top: 6px;

    .logo-accent {
      fill: $accent-1;
    }

    .logo-base {
      fill: $accent-2;
    }

    @media (min-width: 992px) {
      .logo-base {
        fill: #fff;
      }
    }
  }
}

a.anchorjs-link,
a.anchorjs-link:hover {
  text-decoration: none;
}

#merits {
  p { text-align: left; }
}

#free-and-opensource {
  ul {
    &.badges {
      margin-top: 1.5em;
    }

    padding: 0;
    list-style-type: none;

    li {
      margin-bottom: 0.5em;
    }
  }
}

#sidebar {
  @media screen and (max-width: 992px) {
    background-color: #f8f8f8;

    border-bottom: 1px solid #bdbadf;
  }

  @media screen and (min-width: 992px) {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: -100vw;
      content: "";
      display: block;
      //background-color: #FFFDF9;

      background: -webkit-gradient(linear,left top,right top,from(#e5e5e5),to(#f8f8f8));
      background: -webkit-linear-gradient(left,#e5e5e5,#f8f8f8);
      background: -o-linear-gradient(left,#e5e5e5,#f8f8f8);
      background: linear-gradient(to right,#e5e5e5,#f8f8f8);
      background-color: #efefef;

      z-index: -1;
    }

    border-right: 1px solid #bdbadf;
  }

  padding: 0.75em 1.5em 2.25em;

  ul {
    padding: 0;

    ul {
      padding-left: 0.75em;
    }
  }

  li {
    list-style: none;
    margin: 4px 0;
    white-space: nowrap;
  }

  a {
    color: #232323;
    border: none;
  }

  a.active {
    color: #000;
    font-weight: bold;
  }
}

.content {
  padding: 1.5em;
}

#sidebar {
  nav.toc {
    ul.summary {
      margin: 0;
      list-style: none;
      padding: 0;

      li {
        &.header {
          text-transform: capitalize;
          font-size: 1.1rem;
          font-weight: bold;
          color: rgb(53, 56, 67);
          padding: 20px 0 0px;
          margin-bottom: 10px;
          border-bottom:1px solid rgb(229, 229, 229);

          a {
            font-size: 1.1rem;
            color: rgb(53, 56, 67);
          }
        }

        &.chapter,
        &.article {
          a {
            font-size: 1.0rem;
            display: block;
            padding: 6px 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }

    ul.articles {
      margin-left: 10px;
    }
  }
}

.tier {
  font-size: 0.5em;
}

ul.supporters {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
    margin: 0.25em;
    vertical-align: top;
    text-align:center;
    text-decoration:none;

    border: 1px solid #bdbadf;
    border-radius: 5px;
    padding: 5px;

    a {
      display: block;
      text-align: center;

      img {
        margin: 0 auto 0 auto;
        display: block;
      }

      span {
        display: block;

        &.nickname { color: #666; }
      }
    }
  }
}

article.content {
  h1 {
    margin-bottom: 1rem;
  }

  h2 {
    margin: 2rem 0 0.5rem 0;
  }

  h3 {
    margin: 2rem 0 0.5rem 0;
  }

  img {
    box-shadow: none !important;
  }

  figure {
    img {
      width: 90%;
      margin: 0 5% 2em 5%;
    }

    iframe {
      margin-bottom: 1em;
    }

    margin: 2em 0;

    figcaption {
      span {
        border-top: 1px solid #666;
        padding-top: 0.5em;
        color: #666;
      }
    }
  }
}

#changelog {
  .content {
    h2 { font-size: 1.5em; }
    h3 { font-size: 1em }
    p, ul { margin-bottom: 1.5em; }
  }
}

#handbook {
  .article-tools {
    text-align: right;
    a, a:hover {
      text-decoration: none;
    }
  }

  .content {

    h2 {
      border-bottom: 1px solid #e5e5e5;
      margin-bottom: 10px;
    }

    p, li {
      letter-spacing: 0.2px;
      line-height: 175%;
      text-rendering: optimizeLegibility;
    }

    li {
      margin-bottom:0.5em;
    }
  }

  code {
    margin: 1em auto;
  }

  article footer {
    clear: both;
    margin: 4em 0 0;
    border-top: 1px solid #e3e3e3;
    text-align: center;
    color: #999;
    line-height: 1.2em;
    padding-top: 2em;
    position: relative;
    overflow: auto;

    a.previous, a.next {
      display: inline-block;
      width: 50%;
    }

    a.previous {
      text-align: left;
      float: left;
    }

    a.next {
      text-align: right;
      float: right;
    }
  }
}

#handbook {

  article.content section.github-markdown
  {
    a:not(.anchorjs-link):not(.img-link),
    a:not(.anchorjs-link):not(.img-link):visited {
      text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
      -webkit-box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 rgba(252, 210, 62, 0.75);
      -moz-box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 rgba(252, 210, 62, 0.75);
      box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 rgba(252, 210, 62, 0.75);
      -webkit-transition: box-shadow .5s, color .5s;
      -moz-transition: box-shadow .5s, color .5s;
      -ms-transition: box-shadow .5s, color .5s;
      -o-transition: box-shadow .5s, color .5s;
      color: #3b3c3e;
      text-decoration: none;
      padding-bottom: 3px;
    }
    a:not(.anchorjs-link):not(.img-link):hover,
    a:not(.anchorjs-link):not(.img-link):visited:hover {
      -webkit-box-shadow: inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 rgba(255, 173, 51, 1.0);
      -moz-box-shadow: inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 rgba(255, 173, 51, 1.0);
      box-shadow: inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 rgba(255, 173, 51, 1.0);
      -webkit-transition: box-shadow .2s, color .2s;
      -moz-transition: box-shadow .2s, color .2s;
      -ms-transition: box-shadow .2s, color .2s;
      -o-transition: box-shadow .2s, color .2s;
      color: #000;
      text-decoration: none
    }
  }
}

blockquote{
  font-size: 1.2em;
  width:90%;
  margin:2em auto;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid rgb(252, 210, 62);
  line-height:1.6;
  position: relative;
  background:#F8F8F8;

  &::before{
    content: "\201C";
    color: rgb(62, 65, 82);
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }

  &::after{
    content: '';
  }
}

.pro-tip {
  border: 1px solid #bdbadf;
  border-radius: 5px;
  background-color: #F8F8F8;
  padding: 1em 1em 0 0;
  margin: 2em 0;

  h4 {
    margin: 0;
    margin-bottom: 10px;
  }

  .icon {
    display: table-cell;
    vertical-align: middle;
    padding: 0 1em;

    i {
      float:left;
      display:block;
      text-align:center;
      margin-top:-0.5em;
    }
  }

  .text {
    display: table-cell;
    vertical-align: center;
  }
}

#footer {
  li {
    margin-bottom: 0.5em;
  }
}


$serenity-gold-light: lighten($serenity-gold, 20%);

.mermaid {
  &:not([data-processed="true"]) {
    display: none;
  }

  & > svg {
    g.edgeLabel > .label {
      .edgeLabel {
        font-size: 0.75em !important;
      }

      & > rect {
        opacity: 1 !important;
      }
    }

    .socket > rect {
      stroke-dasharray: 5 5;
    }
  }
}

code[class*=language-],
pre[class*=language-],
{
  text-shadow: none !important;
  border-radius: 5px;

  .token.operator {
    background: none !important;
  }
}

/* Fix Prism selection highlighting */
code[class*='language-']::-moz-selection,
pre[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
pre[class*='language-'] ::-moz-selection {
  background: #4f5b66 !important;
}

code[class*='language-']::selection,
pre[class*='language-']::selection,
code[class*='language-'] ::selection,
pre[class*='language-'] ::selection {
  background: #4f5b66 !important;
}

.announcement {
  color: #6a4720;
  background-color: #fbe5cc;

  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid #f2b166;
  border-radius: 0;

  text-align: center;
}
