<!DOCTYPE html>
<html>
<head>
    <script src="/js/angular.min.js"></script>
    <title>demo app</title>
</head>
<body ng-app="demo">


    <section ng-controller="timeouts" id="timeouts" ng-cloak>

        <nav>
            <label>
                Timeout type:
                <select ng-options="timeout.type for timeout in timeouts"
                        ng-model="timeout" id="timeout_type"></select>
            </label>
            <label>
                Example:
                <select ng-options="example for example in examples"
                        ng-model="example" id="example_type"></select>
            </label>
            <label>
                Timeout length [ms]:
                <input ng-model="timeout_length" type="number" id="timeout_length" />
            </label>
            <button ng-click="trigger()">Trigger</button>
        </nav>
        <hr />

        <div id="example" ng-include="example" />


    </section>

    <script type="text/ng-template" id="Visible">
        <pre ng-show="triggered" class="result ng-hide">{{ result }}</pre>
    </script>

    <script type="text/ng-template" id="Invisible">
        <pre ng-hide="triggered" class="result">{{ result }}</pre>
    </script>

    <script type="text/ng-template" id="Present">
        <pre ng-if="triggered" class="result">{{ result }}</pre>
    </script>

    <script type="text/ng-template" id="Absent">
        <pre ng-if="! triggered" class="result">{{ result }}</pre>
    </script>

    <script type="text/ng-template" id="Selected">
        <label>
            {{ result }}
            <input type="checkbox" ng-model="triggered" class="result" />
        </label>
    </script>

    <script type="text/ng-template" id="Clickable">
        <label>
            {{ result }}
            <input type="checkbox" ng-disabled="! triggered" class="result" />
        </label>
    </script>

    <script>
        angular.module('demo', []).controller('timeouts', ['$scope', '$timeout', '$interval',
            function ($scope, $timeout, $interval) {

            function resetExample() {
                $scope.triggered = false;
                $scope.result  = 'Not triggered yet';
            }

            $scope.examples = [
                'Visible',
                'Invisible',
                'Present',
                'Absent',
                'Selected',
                'Clickable'
            ];
            $scope.example = $scope.examples[0];

            $scope.timeout_length = 500;

            $scope.timeouts = [
                {
                    type: 'setTimeout',
                    fn: function() {
                        setTimeout(function() {
                            $scope.result    = "Triggered!";
                            $scope.triggered = true;
                            $scope.$apply();
                        }, $scope.timeout_length)
                    }
                },
                {
                    type: '$timeout',
                    fn: function() {
                        $timeout(function() {
                            $scope.result    = "Triggered!";
                            $scope.triggered = true;
                        }, $scope.timeout_length)
                    }
                },
                {
                    type: '$interval',
                    fn: function() {
                        $interval(function() {
                            $scope.result    = "Triggered!";
                            $scope.triggered = true;
                        }, $scope.timeout_length, 0)
                    }
                }
            ];
            $scope.timeout = $scope.timeouts[0];


            $scope.trigger = function() {
                $scope.timeout.fn();
            };

            $scope.$watchGroup(['example', 'timeout', 'timeout_length'], resetExample);

            resetExample();
        }]);
    </script>
</body>
</html>