.book-summary ul.summary li.active > a {
  color: #3b3c3e;
  font-weight: bold;
}

.markdown-section img#cover-logo {
  display: block;
  width: 360px;
  margin: 0;
}

.markdown-section img.opening-logo {
  display: block;
  width: 100px;
  margin: 2em auto 4em auto;
}

@import "mixins";

.markdown-section {

  a,
  a:visited {
    .text-shadow(~"1px 1px 0 #fff, -1px 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff");
    .box-shadow(~"inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 rgba(252, 210, 62, 1.0)");
    .transition(~"box-shadow .5s, color .5s");

    color: #3b3c3e;
    text-decoration: none;
    padding-bottom: 3px;

    &:active,
    &:focus,
    &:hover {
      .box-shadow(~"inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 rgba(255, 173, 51, 1.0)");
      .transition(~"box-shadow .2s, color .2s");

      color: #000;
      text-decoration: none;
    }

    &.image,
    &.plugin-anchor {
      .text-shadow(none);
      .box-shadow(none);
    }

    code {
      padding: .2em .2em 0 .2em;
    }
  }

  hr {
    box-sizing: content-box;
    height: 4px;

    display: block;
    border: none;
    background: none;
    text-align: center;

    margin-top: 42px;
    margin-bottom: 42px;

    &:before {
      font-family: medium-content-slab-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
      font-weight: 400;
      font-style: italic;
      font-size: 28px;
      letter-spacing: .6em;
    }
    &:before {
      content: '...';
      display: inline-block;
      margin-left: .6em;
      color: rgba(0, 0, 0, .6);
      position: relative;
      top: -30px;
    }
  }

  blockquote {
    color: #3b3c3e;
    position: relative;
    margin: 2em 0 1.5em 0;
    padding: 10px 0;
    text-align: left;
    font-size: 1.5em;
    border: none;

    &:before {
      position: absolute;
      top: 0;
      left: -60px;
      width: 60px;
      height: 60px;
      font-size: 120px;
      line-height: 1;
      color: #e3e3e3;
      content: "\201C";
    }
  }

  .known-issue,
  .pro-tip {
    position: relative;
    margin: 2em 0 1.5em 0;
    padding: 10px 15px 0 15px;
    text-align: left;

    &:before {
      position: absolute;
      top: 10px;
      left: -48px;
      width: 32px;
      height: 32px;
      line-height: 1;
      background-size: 32px 32px;
      content: '';
    }

    code {
      white-space: nowrap;
    }
  }

  .known-issue {
    border: 2px solid #e8ba0b;
    background-color: #fffce9;

    &:before {
      background-image: url('/gitbook/gitbook-plugin-advanced-emoji/emojis/warning.png');
    }
  }

  .pro-tip {
    border: 2px solid #e8ba0b;
    background-color: #fffce9;

    &:before {
      background-image: url('/gitbook/gitbook-plugin-advanced-emoji/emojis/bulb.png');
    }
  }

  ul.books {
    text-align: center;
    list-style-type: none;
    margin: 2em 0 0.85em 0;

    li
    {
      display:inline-block;
      margin:0 0.85em;

      position:relative;
      .box-shadow(~"0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset");

      img {
        display: block;
        vertical-align: bottom;
      }
    }
    li:before, li:after
    {
      content:"";
      position:absolute;
      z-index:-1;
      .box-shadow(~"0 0 20px rgba(0,0,0,0.8)");
      top:50%;
      bottom:0;
      left:10px;
      right:10px;
      .border-radius(~"100px / 10px")
    }
    li:after
    {
      right:10px;
      left:auto;
      .transform(~"skew(8deg) rotate(3deg)");
    }
  }
}