.authorBio {
    display: grid;
    grid-template-columns: 200px 1fr;

    padding: 1rem;
    gap: 2rem;
    align-items: center;
    margin: 0 auto;
    /*font: 500 100%/1.5 system-ui;*/
}

.authorBio img {
    max-width: 100%;
    height: auto;
    align-self: start;
}

@media (max-width: 650px) {
    .authorBio {
        display: block;
    }
}
