<div class="announcement" role="banner">
    👋 CSS? XPath? Or data-test-id? Help make Serenity/JS selectors better by answering <strong><a href="https://forms.gle/CGebfBPwKJQHkXr69">3 short questions</a></strong>!
</div>
