<div class="pro-tip">
    <div class="icon"><i class="far fa-grin-stars"></i></div>
    <div class="text">
        <p>
            <strong>Love Serenity/JS?</strong> Spread the word on
            <a href="https://twitter.com/intent/tweet?text=Check+out+%23fullstack+acceptance+%23testing+with+%40SerenityJS&amp;url=https%3A%2F%2Fserenity-js.org%2F{{ escaped pathToFile }}" aria-label="Spread the word on Twitter" rel="noreferrer noopener">
                <i class="fab fa-twitter"></i> Twitter</a>
            and
            <a href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fserenity-js.org%2F{{ escaped pathToFile }}" aria-label="Spread the word on LinkedIn" rel="noreferrer noopener">
                <i class="fab fa-linkedin"></i> LinkedIn</a>!
        </p>
        <p>
            Found a typo? You can <a href="https://github.com/serenity-js/serenity-js/edit/master/{{ path }}">fix it yourself</a>
            or
            <a href="https://github.com/serenity-js/serenity-js/issues">raise a ticket</a> on GitHub.
        </p>
        <p>If you'd like to help us bring more great tools and content to the Open-Source Community, become a GitHub Sponsor of Serenity/JS for as little as the cost of a cup of coffee.</p>
        <p><a class="github-button" href="https://github.com/sponsors/serenity-js" data-icon="octicon-heart" data-size="large" aria-label="Sponsor Serenity/JS on GitHub">Sponsor</a></p>
    </div>
</div>
