<div class="pro-tip">
    <div class="icon"><i class="fab fa-twitter"></i></div>
    <div class="text">
        <p><strong>This chapter is coming soon!</strong></p>
        <p>
            Follow us on Twitter to get notified when it's available.
        </p>
        <p>
            <a href="https://twitter.com/@SerenityJS" class="img-link">
                <img src="https://img.shields.io/twitter/follow/SerenityJS?style=social" alt="Follow SerenityJS on Twitter" />
            </a>
            <a href="https://twitter.com/@JanMolak" class="img-link">
                <img src="https://img.shields.io/twitter/follow/JanMolak?style=social" alt="Follow JanMolak on Twitter" />
            </a>
        </p>
    </div>
</div>
