<h2>Your feedback matters!</h2>

<p>
    If you've enjoyed this tutorial and would like to be notified when I publish the next part, follow us on Twitter:
</p>
<p>
    <a href="https://twitter.com/@SerenityJS" class="img-link">
        <img src="https://img.shields.io/twitter/follow/SerenityJS?style=social" alt="Follow SerenityJS on Twitter"/>
    </a>
    <a href="https://twitter.com/@JanMolak" class="img-link">
        <img src="https://img.shields.io/twitter/follow/JanMolak?style=social" alt="Follow JanMolak on Twitter"/>
    </a>
</p>

<p>
    If you have any questions or feedback about this tutorial or working with Serenity/JS in general, join the Serenity/JS Community
    Chat Channel on Gitter:
</p>
<p>
    <a href="https://gitter.im/serenity-js/Lobby" class="img-link">
        <img src="https://badges.gitter.im/serenity-js/Lobby.svg" alt="Join Serenity/JS Community Chat Channel!" />
    </a>
</p>
<p>
    If you'd like to say thank you, please give Serenity/JS a star on GitHub or become our GitHub Sponsor:
</p>
<p>
    <a class="github-button" href="https://github.com/serenity-js/serenity-js" data-icon="octicon-star"
       data-size="large" data-show-count="true" aria-label="Star jan-molak/serenity-js on GitHub">Star</a>
    <a class="github-button" href="https://github.com/sponsors/serenity-js" data-icon="octicon-heart" data-size="large"
       aria-label="Sponsor Serenity/JS on GitHub">Sponsor</a>
</p>
<p>
    Found a typo? You can <a href="https://github.com/serenity-js/serenity-js/edit/master/{{ path }}">fix it yourself</a>
    or
    <a href="https://github.com/serenity-js/serenity-js/issues">raise a ticket</a> on GitHub.
</p>
