<div class="pro-tip">
    <div class="icon"><i class="fas fa-tools"></i></div>
    <div class="text">
        <p>
            This section is coming soon.
            Stay tuned or learn how you can <a href="/support.html" target="_blank">support the project</a> and have writing this section prioritised!
        </p>
        <p><a class="github-button" href="https://github.com/sponsors/serenity-js" data-icon="octicon-heart" data-size="large" aria-label="Sponsor Serenity/JS on GitHub">Sponsor</a></p>
    </div>
</div>
