<footer id="footer" class="ftr ftr-accent-2 text-center">
    <div class="container ftr-columns">
        <div class="row">
            <div class="col-md-2 ml-auto col-sm-4">
                <h5 class="ftr-column-title ">Get started</h5>
                <ul class="ftr-column-list">
                    <li><a href="#!">Thinking in Screenplay</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4">
                <h5 class="ftr-column-title ">Support</h5>
                <ul class="ftr-column-list">
                    <li><a href="https://gitter.im/serenity-js/Lobby" target="_blank">Chat</a></li>
                </ul>
            </div>
            <div class="col-md-2 mr-auto col-sm-4">
                <h5 class="ftr-column-title ">Developers</h5>
                <ul class="ftr-column-list">
                    <li><a href="https://github.com/serenity-js">Github repository</a></li>
                    <li><a href="#!">Changelog</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto ftr-bt ftr-oneline ">
                Made with love in London, UK &copy; 2016 - 2018 <a href="https://janmolak.com" target="_blank">Jan Molak</a>, smartcode ltd.
            </div>
        </div>
    </div>
</footer>