<footer id="footer" class="ftr ftr-accent-2 text-center">
    <div class="container ftr-columns d-print-none">
        <div class="row">
            <div class="col-md-2 ml-auto col-sm-4">
                <h5 class="ftr-column-title ">Get started</h5>
                <ul class="ftr-column-list">
                    <li><a href="/handbook/">Serenity/JS Handbook</a></li>
                    <li><a href="/modules/">API docs</a></li>
                    <li><a href="https://github.com/serenity-js">Template projects</a></li>
                    <li><a href="https://github.com/serenity-js/serenity-js/tree/master/examples">Examples</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4">
                <h5 class="ftr-column-title ">Support</h5>
                <ul class="ftr-column-list">
                    <li><a href="/support.html">Free Support</a></li>
                    <li><a href="/support.html#training-and-support-services">Training</a></li>
                    <li><a href="/support.html#training-and-support-services">Commercial support</a></li>
                    <li><a href="/community/sponsors.html">Serenity/JS Sponsors</a></li>
                    <li><a href="https://gitter.im/serenity-js/Lobby">Community Chat</a></li>
                </ul>
            </div>
            <div class="col-md-2 mr-auto col-sm-4">
                <h5 class="ftr-column-title">Developers</h5>
                <ul class="ftr-column-list">
                    <li><a href="/contributing.html">Contribute</a></li>
                    <li><a href="/changelog.html">Changelog</a></li>
                    <li><a href="/license.html">License</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 mx-auto">
            <div class="ftr-column-list">
                <a class="github-button" href="https://github.com/sponsors/serenity-js" data-icon="octicon-heart" data-size="large" aria-label="Sponsor Serenity/JS on GitHub">Sponsor</a>
                <a class="github-button" href="https://github.com/serenity-js/serenity-js" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star jan-molak/serenity-js on GitHub">Star</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto ftr-bt ftr-oneline ">
                Made with love in London, UK &copy; 2016 - 2021 <a href="https://janmolak.com" target="_blank">Jan Molak</a>, smartcode ltd.
            </div>
        </div>
    </div>
</footer>
