<nav id="web-nav" class="web-nav web-nav-light">
    <header>
        <a href="/" class="serenity-js-logo">
            <svg width="190px" height="42px" viewBox="0 0 1077 243" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
                <path class="logo-accent" d="M295.133,157.626l22.342,0c1.571,12.567 6.633,23.04 27.753,23.04c13.789,0 23.563,-7.68 23.563,-19.2c0,-11.52 -5.76,-15.884 -26.007,-19.2c-29.847,-4.015 -43.985,-13.091 -43.985,-36.48c0,-20.422 17.454,-35.782 43.461,-35.782c26.881,0 42.938,12.219 45.382,36.131l-21.294,0c-2.27,-13.091 -9.775,-18.676 -24.088,-18.676c-14.138,0 -21.469,6.807 -21.469,16.407c0,10.123 4.19,15.186 25.833,18.327c29.323,4.015 44.509,12.393 44.509,37.353c0,21.643 -18.327,38.574 -45.905,38.574c-34.036,0 -48.35,-16.931 -50.095,-40.494" style="fill-rule:nonzero;"/>
                <path class="logo-accent" d="M472.468,141.219c-1.048,-15.709 -9.077,-22.691 -22.168,-22.691c-12.741,0 -21.294,8.552 -23.389,22.691l45.557,0Zm-67.55,10.473l0,-1.397c0,-28.276 19.375,-47.127 45.382,-47.127c22.691,0 43.113,13.44 43.113,46.08l0,6.109l-66.851,0c0.698,17.28 9.426,27.054 25.135,27.054c12.742,0 19.375,-5.061 20.945,-13.963l20.422,0c-2.967,19.2 -18.502,29.672 -41.891,29.672c-26.88,0 -46.255,-17.629 -46.255,-46.428" style="fill-rule:nonzero;"/>
                <path class="logo-base"   d="M513.481,105.088l14.487,0l0,16.407c5.761,-10.298 13.616,-17.454 30.023,-17.978l0,13.615c-18.327,0.872 -30.023,6.633 -30.023,29.148l0,50.095l-14.487,0l0,-91.287Z" style="fill-rule:nonzero;"/>
                <path class="logo-base"   d="M637.754,141.917c-1.396,-18.851 -11.171,-26.356 -26.182,-26.356c-14.836,0 -24.785,10.124 -27.229,26.356l53.411,0Zm-68.945,9.774l0,-1.396c0,-27.578 17.629,-46.778 42.763,-46.778c21.12,0 41.019,12.742 41.019,45.381l0,4.713l-68.772,0c0.699,20.771 10.648,32.291 29.325,32.291c14.137,0 22.341,-5.236 24.261,-15.883l14.488,0c-3.143,18.327 -18.328,27.927 -38.924,27.927c-25.833,0 -44.16,-18.153 -44.16,-46.255" style="fill-rule:nonzero;"/>
                <path class="logo-base"   d="M673.882,105.088l14.487,0l0,14.487c4.189,-8.552 14.313,-16.058 29.324,-16.058c18.85,0 32.116,10.299 32.116,36.829l0,56.029l-14.488,0l0,-57.076c0,-16.059 -6.806,-23.215 -21.468,-23.215c-13.441,0 -25.484,8.553 -25.484,24.96l0,55.331l-14.487,0l0,-91.287Z" style="fill-rule:nonzero;"/>
                <path class="logo-base"   d="M772.733,105.088l14.486,0l0,91.287l-14.487,0l0,-91.287Zm-2.618,-28.626c0,-5.237 4.365,-9.6 9.601,-9.6c5.236,0 9.599,4.363 9.599,9.6c0,5.237 -4.363,9.6 -9.599,9.6c-5.236,0 -9.601,-4.363 -9.601,-9.6" style="fill-rule:nonzero;"/>
                <path class="logo-base"   d="M819.16,173.51l0,-56.204l-13.091,0l0,-12.218l13.091,0l0,-20.77l14.487,0l0,20.77l21.294,0l0,12.218l-21.294,0l0,54.808c0,8.901 4.015,13.265 11.346,13.265c4.538,0 8.028,-0.698 11.171,-1.92l0,12.218c-2.968,1.047 -6.459,1.92 -12.394,1.92c-16.581,0 -24.61,-9.774 -24.61,-24.087" style="fill-rule:nonzero;"/>
                <path class="logo-base"   d="M902.589,186.949l-35.782,-81.861l15.535,0l27.927,65.454l25.309,-65.454l14.836,0l-50.443,123.054l-14.662,0l17.28,-41.193Z" style="fill-rule:nonzero;"/>
                <path class="logo-accent" d="M996.26,100.15l7.752,0l-22.728,69.537l-7.675,0l22.651,-69.537Z" style="fill-rule:nonzero;"/>
                <path class="logo-accent" d="M1002.35,157.646l0,-7.826c1.882,0.752 3.763,1.353 6.924,1.353c4.891,0 8.053,-2.558 8.053,-9.181l0,-37.252l10.084,0l0,37.478c0,11.664 -6.698,17.008 -16.632,17.008c-4.44,0 -6.698,-0.678 -8.429,-1.58" style="fill-rule:nonzero;"/>
                <path class="logo-accent" d="M1035.46,141.841l9.633,0c0.678,5.42 2.86,9.934 11.966,9.934c5.945,0 10.16,-3.311 10.16,-8.278c0,-4.967 -2.484,-6.847 -11.214,-8.277c-12.868,-1.733 -18.964,-5.645 -18.964,-15.729c0,-8.806 7.525,-15.427 18.738,-15.427c11.59,0 18.514,5.267 19.567,15.578l-9.181,0c-0.978,-5.645 -4.215,-8.053 -10.386,-8.053c-6.095,0 -9.256,2.934 -9.256,7.074c0,4.366 1.806,6.547 11.138,7.901c12.643,1.732 19.191,5.343 19.191,16.105c0,9.332 -7.903,16.633 -19.793,16.633c-14.675,0 -20.846,-7.301 -21.599,-17.461" style="fill-rule:nonzero;"/>
                <path class="logo-accent" d="M152.636,121.232c0,17.344 -14.06,31.404 -31.404,31.404c-17.344,0 -31.405,-14.06 -31.405,-31.404c0,-17.344 14.061,-31.404 31.405,-31.404c17.344,0 31.404,14.06 31.404,31.404" style="fill-rule:nonzero;"/>
                <path class="logo-base"   d="M230.534,68.726l-67.217,67.217l46.941,0c-7.045,42.781 -44.281,75.521 -89.026,75.521c-31.396,0 -59.086,-16.127 -75.255,-40.523l-22.286,22.287c22.081,29.866 57.547,49.236 97.541,49.236c66.955,0 121.232,-54.277 121.232,-121.232c0,-18.81 -4.284,-36.619 -11.93,-52.506m-198.328,37.796c7.045,-42.782 44.281,-75.522 89.026,-75.522c31.396,0 59.086,16.127 75.255,40.523l22.286,-22.286c-22.081,-29.867 -57.547,-49.237 -97.541,-49.237c-66.955,0 -121.232,54.278 -121.232,121.232c0,18.811 4.284,36.62 11.93,52.506l67.217,-67.216l-46.941,0Z" style="fill-rule:nonzero;"/>
            </svg>
        </a>

        <a href="#!" class="web-nav-toggler">
            <span class="fa fa-close"></span>
            <span class="fa fa-bars"></span>
        </a>
    </header>

    <div class="web-nav-list">
        <a href="#!" class="web-nav-item">Features</a>
        <a href="#!" class="web-nav-item">Guides</a>

        <div class="web-nav-dropdown">
            <a href="#!" class="web-nav-item web-nav-dropdown-toggle">Modules<span class="fa fa-chevron-right"></span></a>
            <div class="web-nav-dropdown-menu">
                <a href="/modules" class="web-nav-item">Overview</a>
                {{#each modules}}
                    <a href="{{ this.href }}" class="web-nav-item">{{ this.name }}</a>
                {{/each}}
            </div>
        </div>

        <a href="#!" class="web-nav-item">Support</a>
        <a href="#!" class="web-nav-item">
            <span class="d-block d-lg-none">Source code</span><span class="fa fa-github d-none d-lg-inline"> </span>
        </a>
    </div>

    <div id="web-nav-mobile-indicator"><!-- this signals to the javascript if the navigation is mobile or not --></div>
</nav>
