<!DOCTYPE html>
<html lang="en">
<head>
    {{> meta }}
</head>
<body>

<div id="top"
        class="block block-dark block-bb bg-gradient-accent-2 p-0">
    <div class="container">
        {{> navigation }}
    </div>

    {{> announcement }}
</div>

<section id="api-docs">
{{{ contents }}}
</section>

{{> footer }}

{{> scripts }}
</body>
</html>
