<!DOCTYPE html>
<html lang="en">
<head>
    {{> meta }}
</head>
<body>

<header id="top"
        class="block block-dark block-bb bg-gradient-accent-2 p-0">
    <div class="container">
        {{> navigation }}
    </div>
</header>


{{{ contents }}}

{{> footer }}

{{> scripts }}
</body>
</html>