<!DOCTYPE html>
<html lang="en">
<head>
    {{> meta }}
</head>
<body>

<div id="top"
        class="block block-dark block-bb bg-gradient-accent-2 p-0">
    <div class="container">
        {{> navigation }}
    </div>
</div>

<section id="handbook">
    <section>
        <div class="container">
            <div class="row">
<!--                <div class="col-lg-3 d-none d-lg-block">-->
                <div class="col-lg-3 col-md-12">
                    <nav class="toc navigation text-truncate">
                        <ul class="summary">
                            <li class="header">Serenity/JS Fundamentals</li>
                            <li class="chapter">Introduction to Serenity/JS</li>
                            <li class="chapter">
                                <a href="#">Getting started</a>
                                <ul class="articles">
                                    <li><a href="/handbook/screenplay-pattern.html">Prerequisites</a></li>
                                    <li><a href="/handbook/screenplay-pattern.html">Screenplay by example</a></li>
                                    <li><a href="/handbook/screenplay-pattern.html">TypeScript</a></li>
                                </ul>
                            </li>
                            <li class="header">Design Patterns</li>
                            <li><a href="/handbook/screenplay-pattern.html">The Screenplay Pattern</a></li>
                        </ul>
                        <hr />
                    </nav>
                </div>

                <div class="col-lg-9 col-md-12">
                    <div class="content">
                        {{{ contents }}}
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>

{{> footer }}

{{> scripts }}
</body>
</html>
