<!DOCTYPE html>
<html lang="en">
<head>
    {{> meta }}
</head>
<body>

<div id="top"
        class="block block-dark block-bb bg-gradient-accent-2 p-0">
    <div class="container">
        {{> navigation }}
    </div>
</div>

<section id="handbook">
    <section>
        <div class="container">
            <div class="row">
                <aside id="sidebar" class="col-lg-3 col-md-12">
                    <nav class="toc navigation text-truncate" data-ice="nav">
                        <ul class="summary">
                            <li class="header">Introduction</li>
                            <li class="chapter"><a href="/handbook/index.html">About Serenity/JS</a></li>
                            <li class="chapter"><a href="/handbook/license.html">License</a></li>
                            <li class="chapter"><a href="/handbook/index.html">Overview</a></li>
                            <li class="chapter"><a href="/handbook/index.html">Tutorial</a></li>

                            <li class="header">Living documentation</li>
                            <li class="chapter"><a href="/handbook/screenplay-pattern.html">Serenity/JS Reports</a></li>
                            <li class="chapter"><a href="/handbook/screenplay-pattern.html">Reports for Cucumber</a></li>
                            <li class="chapter"><a href="/handbook/screenplay-pattern.html">Reports for Jasmine</a></li>
                            <li class="chapter"><a href="/handbook/screenplay-pattern.html">Reports for Protractor</a></li>
                            <li class="chapter"><a href="/handbook/screenplay-pattern.html">Stage Crew</a></li>

                            <li class="header">Acceptance Testing</li>
                            <li class="chapter"><a href="/handbook/screenplay-pattern.html">The Screenplay Pattern</a></li>
                            <li class="chapter"><a href="/handbook/screenplay-pattern.html">Actors</a></li>
                            <li class="chapter"><a href="/handbook/screenplay-pattern.html">Abilities</a></li>
                            <li class="chapter"><a href="/handbook/screenplay-pattern.html">Stage</a></li>
                            <li class="chapter"><a href="/handbook/screenplay-pattern.html">Tasks</a></li>
                            <li class="chapter"><a href="/handbook/screenplay-pattern.html">Interactions</a></li>
                            <li class="chapter"><a href="/handbook/screenplay-pattern.html">Questions</a></li>
                            <li class="chapter"><a href="/handbook/screenplay-pattern.html">Assertions</a></li>
                        </ul>
                    </nav>
                </aside>

                <div class="col-lg-9 col-md-12">
                    <article class="content">
                        {{{ contents }}}
                    </article>
                </div>
            </div>
        </div>
    </section>

</section>

{{> footer }}

{{> scripts }}
</body>
</html>
