<!DOCTYPE html>
<html lang="en">
<head>
    {{> meta }}
</head>
<body>

<header id="top"
        class="block block-dark block-bb bg-gradient-accent-2 p-0">
    <div class="container">
        {{> navigation }}
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-md-10 mx-auto my-6 mb-8">
                <h1 class="mt-4">Next generation acceptance testing</h1>
                <p class="lead">optimised for collaboration, speed and scale.</p>

                <div class="p-4">
                    <a class="btn btn-accent-1 btn-lg m-1" href="#home">Get started</a>
                </div>
            </div>
        </div>
    </div>
</header>


{{{ contents }}}

{{> footer }}

{{> scripts }}
</body>
</html>