<!DOCTYPE html>
<html lang="en">
<head>
    {{> meta }}
</head>
<body>

<div id="top"
     class="block block-dark block-bb bg-gradient-accent-2 p-0">
    <div class="container">
        {{> navigation }}
    </div>
</div>

<section id="handbook">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="content">
                        {{{ contents }}}
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>

{{> footer }}

{{> scripts }}
</body>
</html>
