<!DOCTYPE html>
<html ng-app="demo">
<head>
    <script src="angular.min.js"></script>
    <title>demo app</title>
</head>
<body ng-controller="main">


    <header>
        <h1>{{ title }}</h1>
    </header>

    <section>
        <form>
            <label for="item">name</label>
            <input id="item" type="text" ng-model="item" />
            <input type="submit" ng-click="add(item)" value="add" />
        </form>

        <ul>
            <li ng-repeat="item in items track by $index">{{ item }}</li>
        </ul>
    </section>

    <section id="mouse-events">
        <event-tester event-name="click"></event-tester>
        <event-tester event-name="dblclick"></event-tester>
    </section>

    <section id="selecting-an-option">
        <select name="select">
            <option value="london">London</option>
            <option value="warsaw" selected>Warsaw</option>
            <option value="barcelona">Barcelona</option>
        </select>
    </section>

    <script>
        angular.module('demo', []).
        controller('main', ['$scope', function ($scope) {
            $scope.title = 'Angular demo app';
            $scope.items = [];

            $scope.add = function (item) {
                $scope.items.push(item);
            }
        }]).
        directive('eventTester', function() {
            return {
                restrict: 'E',
                replace: true,
                scope: {},
                template: '<button id="{{ id }}">{{ status }}</button>',
                link: function(scope, elem, attrs) {
                    scope.id        = 'event-tester-' + attrs.eventName;
                    scope.status    = attrs.eventName;
                    scope.eventName = attrs.eventName

                    elem.bind(attrs.eventName, function() {
                        scope.$apply(function() {
                            scope.status = attrs.eventName + ' works!';
                        });
                    });
                }
            };
        })
    </script>
</body>
</html>