name: "Chore: Delete old workflows"
permissions:
  contents: read
  actions: write
on:
  schedule:
    # Run daily, at 19:14
    - cron: '14 19 * * *'

jobs:
  delete_old_workflows:
    runs-on: ubuntu-latest
    steps:
      - name: Delete old workflows
        uses: Mattraks/delete-workflow-runs@bd2822c9d98065c9766fb1f4bbc32325c47de4fb # v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 30
          keep_minimum_runs: 5
#          dry_run: 'true'
